@model IEnumerable<aluguel.Models.Anuncio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f9a4013b2c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/imgcad.css">
    <link rel="stylesheet" href="~/css/estrelas.css">
    <link rel="stylesheet" href="~/css/rodape.css" asp-append-version="true" />

    <title>Login Dark/Light Mode</title>
</head>
<body>

    <div class="l-cards">
        @foreach (var item in Model)
        {
            <div class="c-card">
                <div class="c-card__image">
                    <img src="~/imagens/@item.item.imagem" alt="@item.item.nmitem"
                         width="100%"
                         alt="@item.item.nmitem">
                </div>

                <div class="c-card__content">
                    <h1>@item.item.nmitem</h1>
                    <p>@item.item.dsitem</p>
                    <h3>Dias de Aluguel:@item.diasAluguel</h3>
                    <span>R$:@item.vlitem </span>

                    <a asp-controller="Anuncios" asp-action="Details" asp-route-id="@item.id">Saiba+</a> 
                    <span class="@item.item.nmitem" style="width:30%"></span>
                    <span class="@item.item.dsitem" style="width:85%"></span>
                    <span class="Dias de Aluguel:@item.diasAluguel" style="width:60%"></span>

                </div>

                
                <div vw class="enabled">
                    <div vw-access-button class="active"></div>
                    <div vw-plugin-wrapper>
                        <div class="vw-plugin-top-wrapper"></div>
                    </div>
                </div>
                <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                <script>
                    new window.VLibras.Widget('https://vlibras.gov.br/app');
                </script>
            </div>

        }


    </div>




</body>


</html>