@model aluguel.Models.Anuncio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f9a4013b2c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/site.css">
    <link rel="stylesheet" href="assets/css/cadastro.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <title>Login Dark/Light Mode</title>
</head>
<body>
    <main id="container">

        <form id="login_form" method="post">

            <!-- FORM HEADER -->
            <div id="form_header">
                <h1>Detalhes do Item</h1>
                <i id="mode_icon" class="fa-solid fa-moon"></i>

            </div>


            <div class="form-group">
                <label asp-for="vlitem" class="control-label"><b>Valor</b></label>
                @Html.DisplayFor(model => model.vlitem)

                <label asp-for="diasAluguel" class="control-label"><b>Dias Ofertados</b></label>
                @Html.DisplayFor(model => model.diasAluguel)

                <label asp-for="estado" class="control-label"><b>Estado</b></label>
                @Html.DisplayFor(model => model.estado)

                <label asp-for="cidade" class="control-label"><b>Cidade</b></label>
                @Html.DisplayFor(model => model.cidade)

                <label asp-for="bairro" class="control-label"><b>Bairro</b></label>
                @Html.DisplayFor(model => model.bairro)

                <label asp-for="contato" class="control-label"><b>Telefone</b></label>
                @Html.DisplayFor(model => model.contato)

            </div>

            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.iduser != User.FindFirst(ClaimTypes.NameIdentifier).Value)
                    {
                        <a asp-controller="Home" asp-action="Index">Voltar para o menu principal</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@Model?.id">Editar |</a>
                        <a asp-action="Index">Voltar Para lista</a>
                    }
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index">Voltar para o menu principal</a>
                }
            </div>
        </form>
    </main>
</body>
</html>